body{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}
.container{
    border: 1px solid white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 10px;
    background-color: aliceblue;
}
input{
    width: 100%;
    border-radius: 30px;
}
button{
    background-color: aliceblue;
    cursor: pointer;
    border-radius: 10px;
}
#age{
    font-weight: bold;
}