body{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}
.container{
    border: 1px solid white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 30%;
    gap: 10px;
    background-color: aliceblue;
}
input{
    width: 100%;
}
button{
    background-color: aliceblue;
    cursor: pointer;
}